    <h1>mc-luv search</h1>
    <table class="table" border=1>
      <tr>
        <td>Depart</td>
        <td>Arrive</td>
        <td>Flight #</td>
        <td>Routing</td>
        <td>Travel Time (wrong because timezones)</td>
        <td>Cheapest Fare</td>
      </tr>
      <% flights.each do |flight| %>
        <tr>
          <td><%= Time.parse(flight.takeoff_at).strftime('%I:%M %p') %></td>
          <td><%= Time.parse(flight.land_at).strftime('%I:%M %p') %></td>
          <td><%= flight.flight_number %></td>
          <td><%= flight.segments_path %></td>
          <td><%= Time.at(Time.parse(flight.land_at) - Time.parse(flight.takeoff_at)).utc.strftime('%H:%M') %></td>
          <td>$<%= flight.price_range.split(/-/).first.to_i %></td>
        </tr>
      <% end %>
    </table>
