<%= erb :search_form %>

<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Depart</th>
      <th>Arrive</th>
      <th>Flight #</th>
      <th>Routing</th>
      <th>Travel Time</th>
      <th>Fare</th>
    </tr>
  </thead>
  <tbody>
    <% flights.each do |flight| %>
      <tr>
        <td><%= flight.takeoff_at.strftime('%I:%M %p %Z') %></td>
        <td><%= flight.land_at.strftime('%I:%M %p %Z') %></td>
        <td><%= flight.segments.map(&:to_s).join(', ') %></td>
        <td><%= flight.segments_path %></td>
        <td><%= flight.travel_time.strftime('%H:%M') %></td>
        <td>$<%= flight.price_range.split(/-/).first.to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
Guide:<br />
<i class="fa fa-wifi text-success"></i> Wi-Fi on Flight<br />
<i class="fa fa-wifi text-danger"></i> No Wi-Fi on Flight<br />
<i class="fa fa-map-signs" style="color:#ff8c00"></i> Stops with no plane-change
